<p>Booking Details</p>
<div *ngIf="errorMsg">
    <div class="alert alert-danger">
        {{this.errorMsg}}
    </div>
</div>
<form [formGroup]="checkinForm" (ngSubmit)="onSubmit()" class="form-row">
    <div *ngIf="!boardingPass" class="col">
        <label for="bookingid" class="sr-only">Booking Id</label>
        <input formControlName="bookingId" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.bookingId.errors }" type="text" class="form-control"
            id="bookingid" placeholder="Booking Id">
        <div *ngIf="submitted && f.bookingId.errors" class="invalid-feedback">
            <div *ngIf="f.bookingId.errors.required">Booking Id is required</div>
        </div>
    </div>
    <div *ngIf="!boardingPass" class="col">
        <label for="userLastName" class="sr-only">lastName / Email ID</label>
        <input formControlName="lastName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" type="text" class="form-control"
            id="userLastName" placeholder="Last Name/Email">
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name / Email Id is required</div>
        </div>
    </div>
    <div  *ngIf="!boardingPass" class="col">
        <button type="submit" class="btn btn-primary">Get Ticket Details</button>
    </div>
    <div *ngIf="boardingPass">
        <button type="button" (click)="getBoardingPass()" class="btn btn-success">Get Boarding Pass</button>
    </div>
</form>