<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-2 pt-1">

      </div>
      <div class="col-6 text-center">
        <a class="blog-header-logo text-dark" href="#">Airline Web Check-in Service</a>
      </div>
      <div class="col-2 d-flex justify-content-end align-items-center">
        <a class="text-muted" href="#" aria-label="Search">

        </a>

      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex ">
    </nav>
  </div>

  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark justify-content-center align-items-center">
    <div class="container">
      <div class="row">
        <div class="process">
          <div class="process-row nav nav-tabs">
            <div *ngIf="message == 'checkin' " class="process-step">
              <button class="btn btn-info btn-circle"><i class="fa fa-ticket fa-3x"></i></button>
              <p><small>Booking<br />information</small></p>
            </div>
            <div *ngIf="message != 'checkin' " class="process-step">
              <button class="btn btn-light btn-circle"><i class="fa fa-ticket fa-3x"></i></button>
              <p><small>Booking<br />information</small></p>
            </div>
            <div *ngIf="message == 'ticket' " class="process-step">

              <button class="btn btn-info btn-circle">
                <i class="fa fa-info fa-3x"></i>
              </button>
              <p><small>Ticket<br />Details</small></p>
            </div>
            <div *ngIf="message != 'ticket' " class="process-step">
              <button class="btn btn-light btn-circle">
                <i class="fa fa-info fa-3x"></i>
              </button>
              <p><small>Ticket<br />Details</small></p>
            </div>
            <div class="process-step" *ngIf="message != 'safety' " >
              <button class="btn btn-light btn-circle"><i class="fa fa-shield fa-3x"></i></button>
              <p><small>Safety<br />Measure</small></p>
            </div>
            <div class="process-step" *ngIf="message == 'safety' " >
              <button class="btn btn-info btn-circle"><i class="fa fa-shield fa-3x"></i></button>
              <p><small>Safety<br />Measure</small></p>
            </div>
            <div class="process-step" *ngIf="message != 'boarding' " >
              <button class="btn btn-light btn-circle"><i class="fa fa-check fa-3x"></i></button>
              <p><small>Boarding<br />Pass</small></p>
            </div>
            <div class="process-step" *ngIf="message == 'boarding'" >
              <button class="btn btn-info btn-circle"><i class="fa fa-check fa-3x"></i></button>
              <p><small>Boarding<br />Pass</small></p>
            </div>
          </div>
        </div>
        <div class="d-flex col-12 justify-content-center">

          <router-outlet></router-outlet>

        </div>
      </div>
    </div>
  </div>
</div>